.glow-text {
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4vw;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal .1s ease-in ,
             glow .5s ease-in-out 1s infinite alternate;
}

/* Looping reveal */


/* Glow stays looping */
@keyframes glow {
  40%, 100% {
    text-shadow: none;
  }
  40% {
    text-shadow: 0 0 0px #fff;
  }
}
